*{  
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;

}
p{
 

}

body {
       
        background-image: linear-gradient( 
        220deg, #05161a, #072e33, #0c7075, #0f9690, #6da5c0, #294d61);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 0px;
        text-align: center;
        padding-left: 10%;
        padding-right: 7.5%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.4fr;
    grid-template-areas: " nav nav nav"
                         "sidebar main main"
                         "sidebar conteudo1 conteudo2"
                         "sidebar footer footer";
    grid-gap: 0.5em;
}
.navegacao:not(li.navegacao-bar) {
    background-color: rgba(0,45,255, 0.5);
    width: 100%;
    height: 100%;
    filter: blur(4px);
}
.navegacao-bar {
    display: flex;
    float: left;
}
.container-logo div{
    background-color: red;
}
.logo{
    width: 50px;
    height: 50px;
    background-color: #05161a;
}

#nav{
    padding: 50px;
    float: left;
    background-color: peru;
    grid-area: nav;
    border-radius: 325px;
}

#main{
    background-color: red;
    grid-area: main;
    border-radius: 25px;
    box-shadow: 3px 3px 2em #888;
}

#sidebar{
    background-color: blue;
    grid-area: sidebar;
    border-radius:25px;
    box-shadow: 3px 3px 2em #888;
}

#conteudo1{
    background-color: pink;
    grid-area: conteudo1;
    border-radius:25px;
    box-shadow: 3px 3px 2em #888;
}

#conteudo2{background-color: green;
    grid-area: conteudo2;
    border-radius:25px;
    box-shadow: 3px 3px 2em #888;
}

#footer{background-color: yellowgreen;
    grid-area: footer;
    border-radius:25px;
    box-shadow: 3px 3px 2em #888;
} 









