*{
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 220deg, #05161a, #072e33, #0c7075, #0f9690, #6da5c0, #294d61);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 0px;
}